html,
body {
    height: auto;
}

a,
a:hover,
.vw-page-title-box .vw-label,
.vw-post-categories a,
.vw-page-subtitle,
.vw-review-total-score,
.vw-breaking-news-date,
.vw-date-box-date,
.vw-post-style-classic .vw-post-box-title a:hover,
.vw-post-likes-count.vw-post-liked .vw-icon,
.vw-menu-location-bottom .main-menu-link:hover,
.vw-accordion-header.ui-accordion-header-active span,
.vw-404-text,
#wp-calendar thead,
.vw-accordion .ui-state-hover span,
.vw-breadcrumb a:hover,
.vw-post-tabed-tab.ui-state-active,
.vw-post-tabed-tab.ui-state-hover a,
.vw-tabs.vw-style-top-tab .vw-tab-title.active,
h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em {
    color: #3274b1;
}

.vw-site-social-profile-icon:hover,
.vw-breaking-news-label,
.vw-author-socials a:hover,
.vw-post-style-box:hover,
.vw-post-box:hover .vw-post-format-icon i,
.vw-gallery-direction-button:hover,
.widget_tag_cloud .tagcloud a:hover,
.vw-page-navigation-pagination .page-numbers:hover,
.vw-page-navigation-pagination .page-numbers.current,
#wp-calendar tbody td:hover,
.vw-widget-category-post-count,
.vwspc-section-full-page-link:hover .vw-button,
.vw-tag-links a,
.vw-hamburger-icon:hover,
.pace .pace-progress,
.vw-review-summary-bar .vw-review-score,
.vw-review-total-score span,
.vw-review-score-percentage .vw-review-item-score,
.vw-review-score-points .vw-review-item-score,
.vw-pricing-featured .vw-pricing-header,
.vw-bxslider .bx-prev:hover,
.vw-bxslider .bx-next:hover,
.no-touch input[type=button]:hover,
.no-touch input[type=submit]:hover,
.no-touch button:hover,
.no-touch .vw-button:hover,
.vw-page-content .vw-page-title-box .vw-label,
.vw-breaking-news-title,
.vw-post-style-small-left-thumbnail .vw-post-view-count,
.vw-quote-icon,
.vw-dropcap-circle,
.vw-dropcap-box,
.vw-accordion .ui-icon:before,
.vw-post-categories .vw-sticky-link,
.vw-pagination-load-more:hover {
    background-color: #3274b1;
}

.vw-about-author-section .vw-author-name,
.vw-post-meta-large .vw-date-box,
#wp-calendar caption,
.vw-widget-feedburner-text,
.vw-login-title,
.widget_search label,
.widget_vw_widget_author .vw-widget-author-title {
    border-color: #3274b1;
}

.vw-menu-location-top.sf-arrows .main-menu-link.sf-with-ul:after {
    border-top-color: #888888;
}

.vw-menu-location-top.sf-arrows .sub-menu-link.sf-with-ul:after {
    border-left-color: #888888;
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: #3274b1 !important;
}

.vw-menu-location-top .main-menu-link,
.vw-top-bar .vw-site-social-profile-icon,
.vw-top-bar-right .vw-cart-button,
.vw-top-bar-right .vw-instant-search-buton {
    color: #888888;
}

.vw-menu-location-main .main-menu-item.current-menu-item,
.vw-menu-location-main .main-menu-item.current-menu-parent,
.vw-menu-location-main .main-menu-item.current-menu-ancestor {
    background-color: #ffffff;
    color: #3e3e3e;
}

.vw-menu-location-top .main-menu-item:hover .main-menu-link {
    color: #3e3e3e;
}

.vw-site-header-style-left-logo-right-menu .vw-logo-wrapper {
    min-width: 145px;
}

/* Header font */
input[type=button],
input[type=submit],
button,
.vw-button,
.vw-header-font-family,
.vw-copyright {
    font-family: Open Sans;
}

/* Body font */
.vw-breaking-news-link {
    font-family: Open Sans;
}

.vw-page-title-section.vw-has-background .col-sm-12 {
    padding-top: 150px;
}

.vw-sticky-wrapper.is-sticky .vw-menu-main-wrapper.vw-sticky {
    background-color: rgba(255, 255, 255, 0.95);
}

/* WooCommerce */

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price,
.woocommerce #content div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce-page #content div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page div.product span.price,
.woocommerce .widget_shopping_cart .widget_shopping_cart_content .total .amount,
.woocommerce-page .widget_shopping_cart .widget_shopping_cart_content .total .amount,
.woocommerce .product_list_widget .quantity,
.woocommerce .product_list_widget .amount,
.woocommerce-page .product_list_widget .quantity,
.woocommerce-page .product_list_widget .amount {
    color: #3274b1;
}

.woocommerce .widget_layered_nav_filters ul li a,
.woocommerce-page .widget_layered_nav_filters ul li a,
.widget_product_tag_cloud .tagcloud a:hover,
.widget_tag_cloud .tagcloud a:hover,
woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce span.onsale,
.woocommerce-page span.onsale,
.vw-cart-button-count {
    background-color: #3274b1;
}

/* bbPress */
#bbpress-forums .bbp-forum-title {
    color: #3e3e3e;
}

/* buddypress */
#buddypress div.item-list-tabs ul li.current a:hover,
#buddypress div.item-list-tabs ul li.selected a:hover,
#buddypress .comment-reply-link:hover,
#buddypress a.button:hover,
#buddypress button:hover,
#buddypress div.generic-button a:hover,
#buddypress input[type=button]:hover,
#buddypress input[type=reset]:hover,
#buddypress input[type=submit]:hover,
#buddypress ul.button-nav li a:hover,
a.bp-title-button:hover {
    background-color: #3274b1;
}

.vw-site-header-inner {
    padding-top: 15px;
    padding-bottom: 10px;
}

.vw-bg-ads-enabled .mm-page {
    background-repeat: repeat-y;
}

h1,
h2,
h3,
h4,
h5,
h6,
.vw-header-font,
.vw-post-box.vw-post-format-link a,
.vw-social-counter-count,
.vw-page-navigation-pagination .page-numbers,
#wp-calendar caption,
.vw-accordion-header-text,
.vw-tab-title,
.vw-review-item-title,
.vw-pagination-load-more {
    text-transform: initial;
    letter-spacing: -1px;
    font-weight: 600;
    font-style: normal;
    color: #3e3e3e;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.vw-menu-location-main .main-menu-link {
    font-family: "Open Sans";
    letter-spacing: 1px;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    font-size: 18px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wf-loading .vw-menu-location-main .main-menu-link {
    opacity: 0;
}

.ie.wf-loading .vw-menu-location-main .main-menu-link {
    visibility: hidden;
}

body,
cite {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    color: #666666;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wf-loading body,
.wf-loading cite {
    opacity: 0;
}

.ie.wf-loading body,
.ie.wf-loading cite {
    visibility: hidden;
}

.vw-logo-link {
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
}

.vw-menu-additional-logo img {
    margin-top: 8px;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}

.vw-site-header,
.vw-site-header-background {
    background-color: transparent;
}

.vw-site-wrapper,
.vw-page-navigation-pagination {
    background-color: #ffffff;
}

.vw-top-bar {
    background: #333333;
}

.vw-menu-location-top .sub-menu,
.vw-menu-location-top .main-menu-item:hover .main-menu-link {
    background: #ffffff;
}

.vw-menu-location-top .sub-menu-link {
    color: #111111;
}

.vw-menu-location-top .sub-menu-link:hover {
    color: #888888;
}

.vw-menu-location-top .sub-menu-link:hover {
    background: #f5f5f5;
}

.vw-menu-main-wrapper {
    background: rgba(255, 255, 255, 0);
}

.vw-menu-location-main .main-menu-item {
    color: #888888;
}

.vw-menu-location-main .main-menu-item:hover {
    color: #111111;
}

.vw-menu-location-main .main-menu-item:hover .main-menu-link {
    background: #ffffff;
}

.vw-menu-location-main .sub-menu {
    background: #ffffff;
}

.vw-menu-location-main .sub-menu-link {
    color: #111111;
}

.vw-menu-location-main .sub-menu-link:hover {
    color: #888888;
}

.vw-menu-location-main .sub-menu-link:hover {
    background: #f5f5f5;
}

.vw-site-footer {
    background-color: #222222;
}

.vw-site-footer-sidebars h1,
.vw-site-footer-sidebars h2,
.vw-site-footer-sidebars h3,
.vw-site-footer-sidebars h4,
.vw-site-footer-sidebars h5,
.vw-site-footer-sidebars h6,
.vw-site-footer-sidebars .widget-title,
.vw-site-footer-sidebars .vw-widget-category-title {
    color: #ffffff;
}

.vw-site-footer-sidebars {
    color: #dcdcdc;
}

.vw-bottom-bar {
    background: #111111;
}

.vw-bottom-bar {
    color: #b4b4b4;
}